body{
    background-color: #FEFEFA;
    margin: 0px;
    font-family: Poppins;
    text-align: center;
    margin-top: 0px;
}

.apped-1{
    text-align: left;
    margin-left: 130px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: large;
}


h1 {
    color: #001524;
    font-family: Platypi;
    text-align: center;
    color: #EC625F;
}

h2 { 
    padding: 0px;
    margin: 0px;
}

h4{
    padding: 0px;
    margin: 0px;

}

.note{
    font-size: medium;
}

.container-district{
    Height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    background-color: #387478;
    color: #FEFEFA;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    
}

.container{ 
    display: flex;
    gap: 10px;;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.square1{
    height: auto;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #387478;
    color: #FEFEFA;
    border-radius: 10px;
    flex-basis: 300px;
}

.square1 a{
    background-color: #387478;
    color: #F8FAFC;
    padding: 0px;
    border-radius: 0px;
    font-family: Poppins;
    text-decoration: none;
}

.square1 a:hover{
    background-color: #88d8c0;
    color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    font-family: Poppins;
    text-decoration: none;
 }


.prep{
    list-style-type: number;
    line-height: 2.5;
    text-align: left;
    font-size: large;
}

.formal{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.square2{
    height: auto;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #FECB89;
    border-radius: 10px;;
    flex-basis: 900px;
}

.square3{
    height: auto;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #969696;
    color: #FEFEFA;
    border-radius: 10px;
    flex-basis: 300px;
}

.square3 a{
    background-color: #969696;
    color: #F8FAFC;
    padding: 0px;
    border-radius: 0px;
    font-family: Poppins;
    text-decoration: none;
}

.square3 a:hover{
    background-color: none;
    color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    font-family: Poppins;
    text-decoration: none;
 }

 .note a{
    background-color: #FEFEFA;
    color: #1e90ff;
    text-decoration: none;
    padding: 0px;
    border-radius: 0px;
 }

 .note a:hover{
    background-color: #FEFEFA;
    color: #387478;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
    font-family: Poppins;
    text-decoration: none;
 }

 .inset a{
    background-color: #FEFEFA;
    color: #1e90ff;
    text-decoration: none;
    padding: 0px;
    border-radius: 0px;
 }

 .inset a:hover{
    background-color: #FEFEFA;
    color: #387478;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
    font-family: Poppins;
    text-decoration: none;
 }

a{
    background-color: #387478;
    color: #F8FAFC;
    padding: 10px;
    border-radius: 10px;
    font-family: Poppins;
    text-decoration: none;
}

a:hover{
    background-color: #88d8c0;
    color: black;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-family: Poppins;
    text-decoration: none;
}



.submenu{
    list-style-type: none;
    line-height: 1.7;
    text-align: center;
}

ul {
    margin: 0px;
    padding: 0px;
    
}

.cpd-reminders{
    text-align: left;
    list-style-type: square;
    padding-left: 60px;
}


.imge{
    height: 60px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 30px;
}

.qrcode{
    height: 400px;
    padding-left: 7px;
    padding-right: 7px;
}

.home{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: inline-flexbox;
    font-family: Poppins;
    background-color: #BEC6A0;
    gap: 1rem;
}

 
footer, p{
    font-size: 11px;
    margin: 0px;
}

table, th, td {
    border: 1px solid #373640;
    border-collapse: collapse;
}

th,td {
    color: black;
    background-color: none;
    border-radius: 10px;
    padding: 6px;
}

td{
    text-align: left;   
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.tabpax{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tabpax-2{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.indent1{
    text-indent: 20%;
}

.table-masterclass{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.tabpolicies{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.tdcenter{
    text-align: center;
}

.tdleft{
    text-align: left;
}

.thcolor{
    color: #387478;
}

hr{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20%;
    margin-right: 20%;
    border-style: outset;
    border-width: 1px;
}

.tarp{
    width: 80%;
    
}

.target{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: large;
}

.target-2{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: large;
    text-align: left;
}

.target-3{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: large;
}

.body3{
    font-size: 16px;
    padding: 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.photocontainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.inphotos {
    width: 500px;
    height: auto;
    border-radius: 15px;
}

.element{
    width: 90px;
}

.updated{
    padding: 0px;
    margin: 0px;
    font-size: medium;
}

.fixed-menu{
    display: flex;
    position: fixed;
    top: 0px;
    gap: 4px;
    justify-content: center;
    flex-wrap: wrap;
    }

.memo{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.apped{
    text-align: left;
}

.container-navi{
    background-color: #387478;
    color: #F8FAFC;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2px;
    flex-basis: auto;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.item{
    padding-left: 5px;
    padding-right: 5px;
}

.container-navi a{
    background-color: #387478;
    color: #F8FAFC;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    font-family: Poppins;
    text-decoration: none;
}

.container-navi a:hover{
    background-color: #88d8c0;
    color: black;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Poppins;
    text-decoration: none;
    border-radius: 0px;
}

.head{
    padding-top: 50px;
}

.logo{
    display: flex;
    justify-content: left;
    margin-left: 10px;
  }

.imge1{
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.office{
    color: #387478;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    justify-content: left;
    align-items: left;
    font-family: Platypi;
}

.sgod{
    margin: 0px;
    padding-bottom: 0px;
    text-align: left;
}

.header{
    position: fixed;
    background-color: #FEFEFA;
    width: 100%;
}

.objc{
    margin-top: 0px;;
}

.dummy{
    height: 60px;
    width: auto;
    background-color: #FEFEFA;
}

.dummy2{
    height: 150px;
    width: auto;
    background-color: #FEFEFA;
}

.container-speaker{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.7fr 1fr;
    justify-items: left;
    align-items: center;
    justify-self: center;
    gap: 15px;
    text-align: left;
    width: 40%;
    
}

.speaker{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.name-speaker{
    font-size: larger;
    padding: 0px;
    margin: 0px;
    color: #387478;
}

.session-speaker{
    font-size: larger;
    padding: 0px;
    margin: 0px;
    color: black;
}

.item-speaker{
    justify-content: center;
}

.container-profile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.container-dashboard{
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    background-color: #c9ffe5;
    color: #387478;
    padding: 35px;
    border-radius: 10px;
}

.dashboard-item{
    font-size: larger;

}

.elementary, .secondary, .integrated{
    grid-column: span 2;
    text-align: left;
}

.elementary{
    grid-row-start: 2;
    grid-row-end: 3;
}

.elem-num{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.secondary{
    grid-row-start: 3;
    grid-row-end: 4;
}

.secondary-num{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.integrated{
    grid-row-start: 4;
    grid-row-end: 5;
}

.integ-num{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.total-num{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
    align-content: center;
}

.total{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #387478;
    border-radius: 10px;
    color: #fefefa;
}

.No-Submission{
    color: red;
}

.Submitted{
    color: green;
}

.calendar{
    width: 80%;
    
}

.table-inset {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

.site{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    font-size: small;
}


.footbed{
    background-color: #387478;
    color: #FEFEFA;
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}



