body{
    background-color: #FEF3E2;
    margin: 0px;
    font-family: Poppins;
    text-align: center;
    margin-top: 0px;
}

h1 {
    color: #001524;
    font-family: Platypi;
    text-align: center;
}

a{
    color: #606676;
    text-decoration: none;
}

a:hover{
    color: #FEF3E2;
    background-color: #606676;
    padding-left: 5px;
    padding-right: 5px;
}

.sage {
    background-color: #BEC6A0;
    color: #444444;
    padding-top: 2px;
    padding-bottom: 15px;

}

.gray {
    background-color: #D0D4CA;
    color: #444444;
    padding-top: 2px;
    padding-bottom: 15px;
}

.imge{
    height: 60px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 30px;
}

.home{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*display: flex;*/
    font-family: Poppins;
    background-color: #BEC6A0;
    gap: 1rem;

}

li {
    list-style-type: none;
}